@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #bab0f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.barra {
    width: 30em;
    height: 2em;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 4em;
    cursor: pointer;
}

div.search {
    color: rgb(92, 92, 92);
    margin-left: 2em;
    margin-top: -1em;
}

div.ia21-player {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(140, 0, 255);
    border-style: ridge;
    width: 50em;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 10px 10px 250px rgb(140, 0, 255);
    margin-top: 3em;
}

div.ia21-player video {
    width: 100%;
}

div.ia21-player div.controllers { 
    display: flex;
    border-top: 4px solid rgb(140, 0, 255);
    column-gap: 10px;
}

div.ia21-player div.controllers button.play-pause, button.iconVolume, button.iconEngrenagem {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    border-right: 3px solid black;
}

button.iconVolume, button.iconEngrenagem {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

button.iconVoltar {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    
}

button.iconLupa {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    margin-top: 0.2em;
}

div.ia21-player div.controllers div.dragbar {
    flex-grow: 1;
    position: relative;
}

div.ia21-player div.controllers div.dragbar:before {
    content: " ";
    position: absolute;
    top: calc(50% - .5px);
    border-top: 2px solid black;
    width: 100%;
}

div.ia21-player div.controllers div.dragbar div.draggable {
    --percent: 0%;
    background-color: black;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: calc(50% - .25rem);
    left: calc(var(--percent) - .25rem);
    pointer-events: none;
}

div.ia21-player div.controllers div.dragbar.timeline {
    width: 40%;
}

div.ia21-player div.controllers div.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}